body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #353131, #555353);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.logo img {
    width: auto;
    height: 60px;
    max-width: 100%;
    object-fit: contain;
}

.title {
    font-size: 2.0rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.text {
    color: rgb(3, 3, 3);
    margin-bottom: 20px;
    font-size: 1.5rem;;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    /* Suaviza as transições */
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    /* Sombra sutil */
    cursor: pointer;
}

.link:hover {
    transform: scale(1.05);
    /* Leve aumento */
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    /* Sombra mais destacada */
    opacity: 0.9;
}

.live {
    background: red;
}

.whatsapp {
    background: green;
}

.tips {
    background: blue;
}

.studies {
    background: blue;
}

.icon {
    margin-right: 10px;
}

.link:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
    color: #333;
}

blockquote {
    background: #ecf0f1;
    padding: 15px;
    border-left: 4px solid #3498db;
    font-style: italic;
    color: #2c3e50;
    margin: 20px 0;
}

blockquote p {
    margin: 0;
}

.desafio {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.current-book {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 20px;
}

.current-book h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.current-book p {
    font-size: 1.2rem;
    color: #555;
}